/* LAYOUT */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}
body {
  font-family: sans-serif;
  color: #33475B;
}

.container {
  margin: 0 auto;
  width: 70%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

[class^="col-"] {
  float: left;
}

.col-100 {
  width: 100%;
}

.col-33 {
  width: calc(100% / 3);
}

.col-66 {
  width: calc((100% / 3) * 2);
}

.col-50{
  width: 50%;
}

p {
  line-height: 1.8;
}
/* LAYOUT */

/* HEADER NAV */

header nav{
  background-color: #F4F9FD;
}

nav ul {
  list-style: none;
  display: inline-block;
}

nav ul li {
  display: inline-block;
}

.nav-right li {
  margin-right: 20px;
}

ul a {
  text-decoration: none;
}

nav{
  padding: 30px 0;
  border-bottom: 1px solid #32495B;
}

.nav-right {
  float: right;
}

.fixed-nav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 50px;
}

.nav-left li:first-child{
  border-right: 1px solid #33475B;
  padding-right: 20px
}

.nav-left li:last-child{
  padding-left: 20px;
}

/* HEADER NAV */

/* HEADER MENU */

.menu .col-50 ul {
  list-style: none;
  display: inline-block;
}

.menu ul li {
  display: inline-block;
  margin-right: 20px
}

.menu {
  height: 80px;
}
.menu img {
  padding-top: 25px;
}

.menu ul {
  line-height: 80px;
  float: right;
}

/* HEADER MENU */

/* JUMBOTRON */

.jumbo {
  height: 694px;
  background-image: url("../img/jumbotron.png");
  background-color: #FEF4EE;
  background-position: bottom right;
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
}

.jumbo .row {
  padding: 60px 120px 0 0;
}

.jumbo h1 {
  font-size: 55px;
}

.jumbo p:last-child {
  font-size: 12px;
}

.jumbo-street {
  position: absolute;
  bottom: 0;
  height: 86px;
  width: 100%;
  background-color: #AFEBE4;
  border-top: 3px solid #33475B;
  border-bottom: 3px solid #33475B;
}
/* JUMBOTRON */

/* CUBE */

.cube .container {
  text-align: center;
  padding: 50px 190px;
}

.cube-img img {
  height: 200px;
}
.cube h1 {
  font-size: 32px;
}

/* CUBE */

/* CARD-BOOK */

.card .col-33 {
  text-align: center;
  padding: 80px 0;
}

.card-img img {
  height: 110px;
  display: block;
  margin: 0px auto;
  text-align: center;
}
.box-pf {
  position: relative;
}
.line {
  width: 50%;
  position: absolute;
  /* content: ''; */
  border-top: 1px solid #33475B;
  top: 50%;
  right: 150px;
}

 .card .col-66 p {
  padding-right: 200px;
}

.card .col-66 {
  padding-top: 70px;
}

.card ul {
  list-style: none;
  display: inline-block;
}

.card ul li {
  display: inline-block;
  padding-right: 20px;
}

.card li i{
  color: #FE775A;
  padding-right: 15px;
}
/* CARD-BOOK */

.col-33 .card {
  text-align: center;
}


/* UTILITY */
.ciano{
  color: #17ACC3;
}
.text-blue{
  color: #33475B;
}

.arrow:after{
  content: "\0002c5";
  font-weight: bold;
}

.mt-1{
  margin-top: 1em;
}

.mt-2{
  margin-top: 2em;
}

.btn {
  border-radius: 5px;
  padding: 10px;
  background-color: #FE775A;
  color: #FFFFFF;
}

.btn-login {
  border: 1px solid #FE775A;
  border-radius: 5px;
  padding: 10px;
  color: #FE775A;
}

.btn-big {
 font-size: 14px;
 border-radius: 5px;
 padding: 20px 40px;
 background-color: #FE775A;
 text-decoration: none;
 color: white;
 display: inline-block;
}

.bg-ivory {
  background-color: #F5F8FA;
}

.bg-white {
  background-color: #ffffff;
}

.card {
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0 0 11px #eaf0f6;
}
}
/* UTILITY */
