/* LAYOUT */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  color: #33475B;
}

.container {
  margin: 0 auto;
  width: 66%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

[class^="col-"] {
  float: left;
}

.col-100 {
  width: 100%;
}

.col-25 {
  width: calc(100% / 4);
}

.col-33 {
  width: calc(100% / 3);
}

.col-66 {
  width: calc((100% / 3) * 2);
}

.col-50 {
  width: 50%;
}

.col-40 {
  width: 40%;
}

.col-60 {
  width: 60%;
}

p {
  line-height: 1.8;
}

/* LAYOUT */

/* HEADER NAV */

header nav{
  background-color: #F4F9FD;
  height: 76px;
}

nav ul {
  list-style: none;
  display: inline-block;
}

nav ul li {
  display: inline-block;
}

.nav-right li {
  margin-right: 20px;
}

ul a {
  text-decoration: none;
}

nav{
  padding: 30px 0;
  border-bottom: 1px solid #32495B;
}

.nav-right {
  float: right;
}

.fixed-nav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 76px;
}

body:not(nav) {
  height: calc(100% - 76px);
  margin-top: 76px;
}

.nav-left li:first-child{
  border-right: 1px solid #33475B;
  padding-right: 20px;
}

.nav-left li:last-child{
  padding-left: 20px;
}

.btn-login {
  border: 1px solid #FE775A;
  border-radius: 5px;
  color: #FE775A;
  font-size: 15px;
  padding: 11px;
}

/* HEADER NAV */

/* HEADER MENU */

.menu .fas.fa-chevron-down {
  margin-left: 15px;
}

.menu .col-50 ul {
  list-style: none;
  display: inline-block;
}

.menu ul li {
  display: inline-block;
  margin-right: 20px;
}

.menu {
  height: 80px;
}

.menu img {
  padding-top: 25px;
}

.menu ul {
  line-height: 80px;
  float: right;
}

/* HEADER MENU */

/* JUMBOTRON */

.jumbo {
  height: 694px;
  background-image: url("../img/jumbotron.png");
  background-color: #FEF4EE;
  background-position: bottom right;
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
}

.jumbo .row {
  padding: 60px 120px 0 0;
}

.jumbo h1 {
  font-size: 55px;
}

.jumbo p:last-child {
  font-size: 13px;
}

.jumbo-street {
  position: absolute;
  bottom: 0;
  height: 86px;
  width: 100%;
  background-color: #AFEBE4;
  border-top: 3px solid #33475B;
  border-bottom: 3px solid #33475B;
}
/* JUMBOTRON */

/* CUBE */

.cube .container {
  text-align: center;
  padding: 50px 190px;
}

.cube-img img {
  height: 200px;
}

.cube h1 {
  font-size: 34px;
}

/* CUBE */

/* CARD-BIG */

.card .col-33 {
  text-align: center;
  padding: 80px 0;
}

.card-img img {
  height: 110px;
  display: block;
  margin: 0px auto;
  text-align: center;
}

.box-pf {
  position: relative;
}

.line {
  width: 50%;
  position: absolute;
  border-top: 1px solid #33475B;
  top: 50%;
  right: 150px;
}

 .card .col-66 p {
  padding-right: 200px;
}

.card .col-66 {
  padding-top: 70px;
}

.card ul {
  list-style: none;
}

.card-big ul li {
  display: inline-block;
  padding-right: 20px;
}

.card li i{
  color: #FE775A;
  padding-right: 15px;
}
/* CARD-BIG */

/* 3 CARD SMALL */

.col-33 .card {
  text-align: center;
  padding: 20px 40px;
}

.col-33 .card hr {
  width: 90%;
  margin: 4em auto 2em;
  border: .5px solid;
}

.col-33 ul {
  text-align: left;
}

.left-card {
  margin-right: 45px;
}

.central-card {
  margin:0 22px;
}

.right-card {
  margin-left: 45px;
}

.small-cards {
  padding: 4em 0;
}

/* 3 CARD SMALL */

/* TABLE SECTION */
.table-section {
  color: #ffffff;
  text-align: center;
}

.table-section .table {
  padding: 50px 0 100px;
}

.table-section h1 {
  font-size: 34px;
  padding: 50px;
}

.col-25 p:first-of-type {
  font-size: 45px;
  font-weight: bold;
  vertical-align: middle;
}

.col-25 p:last-of-type {
  font-size: 13px;
}

.col-25 p:first-of-type:after {
  content: " +";
  font-size: 27px;
  font-weight: 400;
  vertical-align: middle;
}

.table .col-25 {
  padding: 20px;
}

.table .row .col-25:nth-child(1n) {
  border-right: 1px solid #ffffff;
  border-bottom: 1px solid #ffffff;
}

.table .row .col-25:nth-child(4n) {
  border-right: 0;
}

.table .row .col-25:nth-child(n+5) {
  border-bottom: 0;
}
/* TABLE SECTION */

/* PARTNERS SECTION */

.row .box-text-top {
  padding: 50px 90px;
}

.box-text-top ul {
  list-style: none;
}

.box-text-top ul li {
  line-height: 25px;
}

.box-text-top h1 {
  font-size: 50px;
}

.logo-partners img {
width: 75%;
vertical-align: middle;
}

.logo-partners .col-25 {
  height: 65px;
  line-height: 65px;
  vertical-align: middle;
}

.box-text-bottom p:last-child {
  font-size: 13px;
}

.asian-woman img {
  width: 350px;
  float: right;
}

.box-text-bottom h1 {
  font-size: 34px;
}

/* PARTNERS SECTION */

/* FOOTER */

footer {
  color: #ffffff;
  background-color: #32495B;
}

footer ul {
  list-style: none;
  margin-top: 2rem;
}

footer ul li a {
  color: #ffffff;
  line-height: 37px;
}

footer ul li h4 {
  margin-bottom: 18px;
}

.sn-box li {
  display: inline-block;
  margin-right: 21px;
  color: #DADEE0;
}

footer .btn {
  background-color: #DADEE0;
  color: #32495B;
  display: inline-block;
}

.sn-box {
  float: right;
}

footer .col-100 li {
  display: inline-block;
  margin-right: 21px;
}

footer .sn-box .col-50 li {
  display: inline-block;
  margin-right: 21px;
}

footer .col-100 {
  text-align: center;
}

footer .col-50 ul:last-of-type {
  float: right;
}

footer .col-50 li {
  display: inline-block;
  margin-left: 21px;
}

/* FOOTER */

/* UTILITY */

.ciano{
  color: #17ACC3;
}

.text-blue{
  color: #33475B;
}

.mt-1 {
  margin-top: 1rem;
}

.mt-2 {
  margin-top: 2rem;
}

.mt-3 {
  margin-top: 3rem;
}

.mt-4 {
  margin-top: 4rem;
}

.mb-3{
  margin-bottom: 3rem;
}

.btn {
  border-radius: 5px;
  background-color: #FE775A;
  color: #FFFFFF;
  text-decoration: none;
  font-size: 15px;
  padding: 11px;
}

.btn-big {
 font-size: 15px;
 border-radius: 5px;
 padding: 21px 40px;
 background-color: #FE775A;
 text-decoration: none;
 color: white;
 display: inline-block;
}

.bg-ivory {
  background-color: #F5F8FA;
}

.bg-white {
  background-color: #ffffff;
}

.bg-table {
  background-color: #00B1B0;
}

.card {
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0 0 11px #eaf0f6;
}

/* UTILITY */
